<?xml version="1.0" encoding="utf-8"?>
  <configuration>  
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="EnotaNFCePRGratuito.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
      <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="EnotaNFCePRGratuito.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <EnotaNFCePRGratuito.Properties.Settings>
            <setting name="path" serializeAs="String">
                <value>c:\safeweb\sefapr\Producao\</value>
            </setting>
            <setting name="tpAmb" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="nomeSchema" serializeAs="String">
                <value>PL_008f</value>
            </setting>
            <setting name="smtpServer" serializeAs="String">
                <value />
            </setting>
            <setting name="smtpPort" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="fromEmail" serializeAs="String">
                <value />
            </setting>
            <setting name="fromPass" serializeAs="String">
                <value />
            </setting>
            <setting name="subjectMailAutorizar" serializeAs="String">
                <value>NFC-e de [nomeEmit]</value>
            </setting>
            <setting name="bodyMailAutorizar" serializeAs="String">
                <value>[nomeDest], 

Uma Nota Fiscal de Consumidor Eletrônica foi emitida em seu nome pela empresa [nomeEmit], CNPJ: [cnpjEmit].
Para consultar a autorização da nota junto a SEFA PR, clique no link abaixo:

[Link]

Nº da NFC-e: [nNFCe]
Série da NFC-e: [serieNFCe]
Chave de Acesso: [chNFCe]

Em caso de dúvida entre em contato com a empresa emitente desta Nota Fiscal de Consumidor Eletrônica.</value>
            </setting>
            <setting name="enableSslMail" serializeAs="String">
                <value>Não</value>
            </setting>
            <setting name="envioAutorizar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="envioCancelar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="subjectMailCancelar" serializeAs="String">
                <value>Cancelamento de NFC-e de [nomeEmit]</value>
            </setting>
            <setting name="bodyMailCancelar" serializeAs="String">
                <value>[nomeDest], 

Uma Nota Fiscal de Consumidor Eletrônica foi cancelada em seu nome pela empresa [nomeEmit], CNPJ: [cnpjEmit].
Para consultar o cancelamento da nota junto a SEFA PR, clique no link abaixo:

[Link]

Nº da NFC-e: [nNFCe]
Série da NFC-e: [serieNFCe]
Chave de Acesso: [chNFCe]

Em caso de dúvida entre em contato com a empresa emitente desta Nota Fiscal de Consumidor Eletrônica.</value>
            </setting>
            <setting name="BackupAbrir" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BackupFechar" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AnexoAutorizar" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AnexoCancelar" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="timeout" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="tipoReport" serializeAs="String">
                <value>0</value>
            </setting>
        </EnotaNFCePRGratuito.Properties.Settings>
    </userSettings>
    <system.net>
      <defaultProxy useDefaultCredentials="true" />
    </system.net>
    <applicationSettings>
      <EnotaNFCePRGratuito.Properties.Settings>
        <setting name="EnotaNFCePRGratuito_SiteSW_siteWS" serializeAs="String">
          <value>http://site.safeweb.com.br:1706/siteWS.asmx</value>
        </setting>
      </EnotaNFCePRGratuito.Properties.Settings>
    </applicationSettings>
</configuration>
